<h1><%= appName %></h1>

<h3>Seja bem-vindo</h3>

<h5>Data: <%= dataBR(Date.today) %></h5>

<ul>
    <li>
        <%= link_to  "Cadastro de moedas", coins_path %>
    </li>
</ul>

<table style="border: 1px solid black; width: 500px">
    <% @jsonObject.each do |orgao| %>
        <tr>
            <td>
                <%= orgao["NOME"] %>
            </td>
        </tr>
    <% end %>
</table>
